{% assign background = section.settings.background %}
{% assign text = section.settings.text %}
{% assign link = section.settings.link %}
{% assign container = section.settings.full_width %}
{% assign margin = section.settings.margin %}
{% assign padding = section.settings.padding %}

{% if background != blank or text != blank or link != blank or margin != blank or padding != blank %}
	<style>
		#shopify-section-{{section.id}} {
			{% if background != blank %}
				background: {{ background }};
			{% endif %}

			{% if text != blank %}
				color: {{ text }};
			{% endif %}
			
			{% if margin != blank %}
				margin: {{ margin }};
			{% endif %}

			{% if padding != blank %}
				padding: {{ padding }};
			{% endif %}
		}
		
		{% if link != blank %}
			#shopify-section-{{section.id}} h4 {
				color: {{ link }};
			}
		{% endif %}
	</style>
{% endif %}

{% unless container %}<div class="container">{% endunless %}
	{% if section.settings.title != blank %}
		<div class="section-title center-xs">
			{% if section.settings.sub_title != blank %}
				<h4>{{ section.settings.sub_title | escape }}</h4>
			{% endif %}
			<h3>{{ section.settings.title | escape }}</h3>
		</div>
	{% endif %}

	{% case section.settings.grid %}
		{% when '2' %}
			{%- assign grid_item_width = 'col-xs-12 col-sm-6 col-md-6' -%}
		{% when '3' %}
			{%- assign grid_item_width = 'col-xs-12 col-sm-6 col-md-4' -%}
		{% when '4' %}
			{%- assign grid_item_width = 'col-xs-12 col-sm-6 col-md-3' -%}
		{% when '6' %}
			{%- assign grid_item_width = 'col-xs-12 col-sm-6 col-md-2' -%}
	{% endcase %}

	{% if section.blocks.size > 0 %}
		<div class="row">
			{% for block in section.blocks %}
				<div class="{{ grid_item_width }}" {{ block.shopify_attributes }}>
					<div class="box box--{{ block.settings.alignment }}">
						<div class="box__icon box__icon--{{ block.settings.style }}">
							{% if block.settings.type == 'image' %}
								{% if block.settings.image != blank %}
									{% capture image_size %}{{ block.settings.image_width }}x{% endcapture %}

									<img src="{{ block.settings.image | img_url: image_size }}"
										 srcset="{{ block.settings.image | img_url: image_size }} 1x, {{ block.settings.image | img_url: image_size, scale: 2 }} 2x"
										 alt="{{ block.settings.image.alt | default: shop.name }}">
								{% else %}
									{{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
								{% endif %}
							{% else %}
								<i class="fa {{ block.settings.font }}"></i>
							{% endif %}
						</div>
						<div class="box__content">
							{% if block.settings.title != blank %}
								<h4 class="box__content--title">{{ block.settings.title | escape }}</h4>
							{% endif %}
							{% if block.settings.description != blank %}
								<p class="box__content--desc">{{ block.settings.description }}</p>
							{% endif %}
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	{% endif %}

	{% if section.blocks.size == 0 %}
		{% include 'no-blocks' %}
	{% endif %}
{% unless container %}</div>{% endunless %}

{% schema %}
	{
		"name": "Text with icon",
		"max_blocks": 20,
		"settings": [
			{
				"type": "header",
				"content": "Layout"
			},
			{
				"type": "checkbox",
				"id": "full_width",
				"label": "Enable section full-width"
			},
			{
				"type": "text",
				"id": "margin",
				"label": "Margin",
				"info": "Example 10px 20px 10px 20px"
			},
			{
				"type": "text",
				"id": "padding",
				"label": "Padding",
				"default": "50px 0 30px",
				"info": "Example 10px 20px 10px 20px"
			},
			{
				"type": "header",
				"content": "Content"
			},
			{
				"type": "text",
				"id": "title",
				"label": "Heading",
				"default": "Text with icon"
			},
			{
				"type": "text",
				"id": "sub_title",
				"label": "Sub heading"
			},
			{
				"type": "select",
				"id": "grid",
				"label": "Items per row",
				"default": "3",
				"options": [
					{
						"value": "2",
						"label": "2"
					},
					{
						"value": "3",
						"label": "3"
					},
					{
						"value": "4",
						"label": "4"
					},
					{
						"value": "6",
						"label": "6"
					}
				]
			},
			{
				"type": "header",
				"content": "Colors"
			},
			{
				"type": "color",
				"id": "background",
				"label": "Background"
			},
			{
				"type": "color",
				"id": "link",
				"label": "Heading"
			},
			{
				"type": "color",
				"id": "text",
				"label": "Text"
			}
		],
		"blocks": [
			{
				"type": "item",
				"name": "Text with icon",
				"settings": [
					{
						"type": "select",
						"id": "alignment",
						"label": "Alignment",
						"default": "left",
						"options": [
							{
								"value": "left",
								"label": "Left"
							},
							{
								"value": "center",
								"label": "Center"
							},
							{
								"value": "right",
								"label": "Right"
							}
						]
					},
					{
						"type": "select",
						"id": "style",
						"label": "Icon style",
						"default": "default",
						"options": [
							{
								"value": "default",
								"label": "None"
							},
							{
								"value": "square",
								"label": "Square"
							},
							{
								"value": "rounded",
								"label": "Rounded"
							},
							{
								"value": "circle",
								"label": "Circle"
							}
						]
					},
					{
						"type": "select",
						"id": "type",
						"label": "Icon type",
						"default": "font",
						"options": [
							{
								"value": "image",
								"label": "Image"
							},
							{
								"value": "font",
								"label": "Font Awesome"
							}
						]
					},
					{
						"type": "image_picker",
						"id": "image",
						"label": "Upload image",
						"info": "Apply for icon type is Image"
					},
					{
						"type": "text",
						"id": "image_width",
						"label": "Image width",
						"default": "60"
					},
					{
						"type": "text",
						"id": "font",
						"label": "Font Awesome icon class",
						"default": "fa-check",
						"info": "Enter css class of icon. For example: 'fa-phone'."
					},
					{
						"type": "text",
						"id": "title",
						"label": "Heading",
						"default": "Talk about your service"
					},
					{
						"type": "textarea",
						"id": "description",
						"label": "Description",
						"default": "Use this text to share information about your service with your customers."
					}
				]
			}
		],
		"presets": [
			{
				"name": "Text with icon",
				"category": "Content",
				"blocks": [
					{
						"type": "item",
						"settings": {
							"font": "fa-check"
						}
					},
					{
						"type": "item",
						"settings": {
							"font": "fa-truck"
						}
					},
					{
						"type": "item",
						"settings": {
							"font": "fa-life-ring"
						}
					}
				]
			}
		]
	}
{% endschema %}
